.form-task {
    background-color: lavender;
    margin-top: 12px;
}

form.col-sm-12.form-horizontal {
    margin-top: 17px;
}

.titre-tache-form {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.todo-tasks {
    border-color: white;
    border-style: double;
}

.wip-tasks {
    border-color: white;
    border-style: double;
}

.done-tasks {
    border-color: white;
    border-style: double;
}

.todo-task-titre {
    margin-top: 10px;
    background-color: #757575;
    text-align: center;
    color: white;
}

.wip-task-titre {
    margin-top: 10px;
    background-color: #FD5240;
    text-align: center;
    color: 	white;
}

.done-task-titre {
    margin-top: 10px;
    background-color: lightgreen;
    text-align: center;
    color: 	white;
}

.tache-form, .tache-list {
    background-color: white;
    box-shadow: none;
    min-height: 65px;
    margin-bottom: 8px;
    user-select: none;
    color: rgb(77, 77, 77);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
    padding-left: 8px;
    padding-right: 8px;
    transition: background-color 0.1s ease;
}

.taches-list {
    width: 100%;
    padding-left: 0;
}

.prec {
    width: 20%;
}

.suiv {
    width: 20%;
    display: block;
    text-align: right;
}

.to-todo:hover {
    background-color: #757575;
    color: 	white;
    border: none;
    border: 1px solid white;
}

.to-wip:hover {
    background-color: #FD5240;
    color: 	white;
    border: none;
    border: 1px solid white;
}

.to-done:hover {
    background-color: lightgreen;
    color: 	white;
    border: 1px solid white;
}

.info-tache-list {
    width: 60%;
    flex-grow: 1;
    min-height: 50px;
}

.titre {
    text-align: center;
}

.etat-btn {
    background-color: white;
    border: 1px solid lightslategray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.bloque-bouton {
    background-color: white;
    border: .3px ridge #F0CFFF;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    color: #F0CFFF;
}

.est-bloquee {
    background-color: red;
    color: white;
}

.est-bloquee:hover {
    background-color: white !important;
    color: #F0CFFF !important;
}

.bloque-bouton:hover {
    background-color: red;
    color: white;
    border: none;
}


.plus-bouton {
    background-color: white;
    border: .3px ridge #F0CFFF;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    color: #E0ECFF;
}

.plus-bouton:hover {
    background-color: #1284e6;
    color: white;
    border: none;
}

.suppr-bouton {
    background-color: white;
    border: .3px ridge #F0CFFF;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    color: #cccccc82;
}

.suppr-bouton:hover {
    background-color: #228B22;
    color: white;
    border: none;
}

.boutons-tache-list {
    text-align: center;
    max-height: 30px;
    margin-top: -10px;
}

.tache {
    display: flex;
    width: 100%;
}